#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.buttonMap {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 3px 3px;
    box-sizing: border-box;
    color: #12C905;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    margin: 8px 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.buttonMap:hover,
.buttonMap:active {

    background-position: 0 0;
    color: #FFFFFF;
    background-color: #12C905;
}

.buttonMap:active {
    opacity: .5;
}


